<!DOCTYPE html> 
<html> 
    <head>
        <title>MLB Box Scores</title>
        <meta name="description" content="MLB, boxscores, Brett Grimes, scores" />
        <meta name="author" content="Brett C. Grimes" />
        
        <link rel="stylesheet" type="text/css" href="css/south-street/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" type="text/css" href="css/mlbscores.css" />
        <link rel="stylesheet" type="text/css" href="css/mlb_logos.css" />
        <!--<link rel="stylesheet" type="text/css" href="css/mlbscoreboard_grid.css" /> -->  

        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script> 
        <script type="text/javascript" src="js/backbone-min.js"></script> 
        <script type="text/javascript" src="js/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="js/modules/base.js"></script>
        <script type="text/javascript" src="js/modules/mlbscores.js"></script>

        <!-- Templates -->
        <script type="text/template" id="mlb-scores-layout">
            <div id="mlb-scores-layout-header" class="ui-corner-top ui-widget-header spacing"></div>
            <div id="mlb-scores-layout-content" class="ui-widget-content spacing" style="overflow-x:hidden;overflow-y:auto;height:80%;"></div>
            <div id="mlb-scores-layout-footer" class="ui-corner-bottom ui-widget-header spacing"></div>
        </script>
        <script type="text/template" id="mlb-scores-header">
            <div> 
                <h2>Major League Baseball Box Scores</h2>
            </div>
            <div id="mlb-scores-datepicker">
                <table style="width:100%;">
                    <tr style="text-align:center;">
                        <td>
                            <div id="mlb-scores-view-buttonset">
                                <input type="radio" name="radio" id="mlb-scores-list-button" checked="checked" /><label for="mlb-scores-list-button">Full</label>
                                <input type="radio" name="radio" id="mlb-scores-grid-button" /><label for="mlb-scores-grid-button">Summary</label>
                            </div>
                        </td>
                        <td>
                            <div class="mlb-scores-date-buttonset">
                                <button class="mlb-scores-datepicker-previous dateIconButton"></button>
                                <input type="text" class="mlb-scores-datepicker-input dateButton ui-button ui-widget ui-state-default ui-button-text-only" value="<%= getDisplayGameDate() %>" />
                                <button class="mlb-scores-datepicker-next dateIconButton"></button>
                            </div>
                        </td>
                        <td>
                            <div class="selLeagueContainer">
                                <select id="mlb-scores-select-league">
                                    <option value="mlb" selected="selected">MLB</option>
                                    <option value="aaa">MILB AAA</option>
                                    <option value="nat">National Team</option>
                                    <option value="aax">MILB AA - Eastern League</option>
                                    <option value="afa">MILB High A - Florida State League</option>
                                    <option value="afx">MILB Low A - Midwest League</option>
                                    <option value="asx">MILB Short A - NY/PA League</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </script>
        <script type="text/template" id="mlb-scores-footer">
            <p id="copyright"> 
                <span id="mlb-scores-copyright">&copy; 2014  <a href="http://bcgrimes.baycg.com/Brett_Grimes.html" target="_blank" class="lowkeylink" style="color: #555;">Brett C. Grimes</a></span>
                <span id="mlb-scores-results-time" title="Last Update" style="float:right;"></span>
            </p> 
        </script>

        <!-- empty games view -->
        <script type="text/template" id="mlb-scores-games-empty-view">
            <div></div>
        </script>

        <!-- Game summary boxscore template -->
        <script type="text/template" id="mlb-scores-games-view">
            <div class="boxScoresContainer ui-corner-all">
                <div>
                    <span class="gameType"><%= getGameTypeDescription(data.games.game) %></span>
                </div>
                <div class="boxScores">
                    <!-- game views go here -->
                </div>
            </div>
            <div class="copyrightMLB">
                <div class="copyright">All data courtesy of Major League Baseball:</div>
                <div class="copyright"><%= copyright %></div>
            </div>
        </script>

        <!-- Gamme summary boxscore item view template -->
        <script type="text/template" id="mlb-scores-summary-game-item-view">
            <table class="<%= gameday %> mlb-game-boxscore-table boxTable">
                <thead class="boxHeader">
                    <tr>
                        <th class="boxHeaderItem gameStatus teamBox teamGridBox">
                            <% if (status.ind[0] == "I") { %>
                                <a href="http://mlb.mlb.com/mlb/gameday/index.jsp?gid=<%= gameday %>&mode=gameday&c_id=mlb" target="_blank" class="lowkeylink" title="Watch GameDay">
                            <% } %>
                                <span style="text-overflow:ellipsis;"><%= status.status %></span>
                            <% if (status.ind[0] == "I") { %>
                                </a>
                            <% } %>
                        </th>
                        <th class="boxHeaderItem boxSubtitle borderLeft">R</th>
                        <th class="boxHeaderItem boxSubtitle borderLeft">H</th>
                        <th class="boxHeaderItem boxSubtitle borderLeft">E</th>
                    <% if (status.ind[0] == "I") { %>
                        <th class="boxHeaderItem boxSubtitle borderLeft" style="white-space:nowrap;"><%= status.inning_state.substr(0,3) %> <%= status.inning %></th>
                    <% } %>
                    </tr>
                </thead>
                <tbody class="boxBody">
                    <tr class="away">
                        <td class="boxBodyItem boxAway borderTop teamBox teamGridBox <% if (!_.isUndefined(obj.linescore) && Number(linescore.r.away) > Number(linescore.r.home)) { %> gameWinner <% } %>">
                            <table>
                                <tr>
                                    <% if (away_sport_code == "mlb") { %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= away_file_code %>" target="_blank"><span class="team <%= away_file_code %>" title="<%= away_team_city %> <%= away_team_name %>"></span></a>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <img src="http://www.milb.com/shared/images/logos/50x50/<%=away_file_code%>.png" title="<%= away_team_city %> <%= away_team_name %>" />
                                        </td>
                                    <% } %>
                                    <td>
                                        <a href="http://mlb.mlb.com/index.jsp?c_id=<%= away_file_code %>" target="_blank" class="lowkeylink">
                                        <span class="teamName" title="<%= away_team_city %> <%= away_team_name %>"><%= away_name_abbrev %></span><br />
                                        <span class="teamRecord">(<%= away_win %>-<%= away_loss %>)</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop runs"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.r.away%><% } %></td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop hits"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.h.away%><% } %></td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop errors"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.e.away%><% } %></td>
                    <% if (status.ind[0] == "I") { %>
                        <td class="infographic borderLeft borderTop itemHighlight" rowspan="2">
                            <div class="menOnBase">
                                <dl>
                                    <dt class="first"><abbr title="First Base">1st:</abbr></dt>
                                    <dd class="first<% if (obj.hasRunnerOn(1)) { %> runner <% } %>"><%= obj.getRunnerOn(1) %></dd>
                                    <dt class="second"><abbr title="Second Base">2nd:</abbr></dt>
                                    <dd class="second <% if (obj.hasRunnerOn(2)) { %> runner <% } %>"><%= obj.getRunnerOn(2) %></dd>
                                    <dt class="third"><abbr title="Third Base">3rd:</abbr></dt>
                                    <dd class="third <% if (obj.hasRunnerOn(3)) { %> runner <% } %>"><%= obj.getRunnerOn(3) %></dd>
                                </dl>
                            </div>
                            <div class="countAndOuts">
                                <div class="count"><%= status.b %>-<%= status.s %></div>
                                <div class="outs"><%= status.o %> outs</div>
                            </div>
                        </td>
                    <% } %>
                    </tr>
                    <tr class="home">
                        <td class="boxBodyItem boxHome borderTop teamBox teamGridBox <% if (!_.isUndefined(obj.linescore) && Number(linescore.r.home) > Number(linescore.r.away)) { %> gameWinner <% } %>">
                            <table>
                                <tr>
                                    <% if (home_sport_code == "mlb") { %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= home_file_code %>" target="_blank"><span class="team <%= home_file_code %>" title="<%= home_team_city %> <%= home_team_name %>"></span></a>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <img src="http://www.milb.com/shared/images/logos/50x50/<%=home_file_code%>.png" title="<%= home_team_city %> <%= home_team_name %>" />
                                        </td>
                                    <% } %>
                                    <td>
                                        <a href="http://mlb.mlb.com/index.jsp?c_id=<%= home_file_code %>" target="_blank" class="lowkeylink">
                                        <span class="teamName" title="<%= home_team_city %> <%= home_team_name %>"><%= home_name_abbrev %></span><br />
                                        <span class="teamRecord">(<%= home_win %>-<%= home_loss %>)</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop runs"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.r.home %><% } %></td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop hits"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.h.home %><% } %></td>
                        <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop errors"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.e.home %><% } %></td>
                    </tr>
                </tbody>
            </table>
        </script>

        <!-- Game full boxscore item view template -->
        <script type="text/template" id="mlb-scores-full-game-item-view">
            <div class="boxTitle">
                <span><%= getTeamName("away") %> at <%= getTeamName("home") %></span>
                <% if (description != "") { %><span style="margin-left:25px;"><%= description %></span><% } %>
                <span style="float:right;"><%= time %> <%= ampm %></span>
            </div>
            <div class="boxContainer">
                <table class="<%= gameday %> mlb-game-boxscore-table boxTable">
                    <thead class="boxHeader">
                        <tr>
                            <th class="boxHeaderItem gameStatus teamBox teamListBox">
                            <% if (status.ind[0] == "I") { %>
                                <a href="http://mlb.mlb.com/mlb/gameday/index.jsp?gid=<%= gameday %>&mode=gameday&c_id=mlb" target="_blank" class="lowkeylink" title="Watch GameDay">
                            <% } %>
                                    <span><%= status.status %><% if (status.reason != null && status.reason != "" && status.reason != "Final") { %> (<%= status.reason %>)<% } %></span>
                            <% if (status.ind[0] == "I") { %>
                                </a>
                            <% } %>
                            </th>
                    <% if ((status.ind[0] == "I" || status.ind[0] == "F") && !_.isUndefined(obj.linescore) && _.isArray(obj.linescore.inning)) { %>
                        <% _.each(linescore.inning, function(inning, inningIndex) { %>
                            <th class="boxHeaderItem boxSubtitle borderLeft"><%= (inningIndex + 1) %></th>
                        <% }) %>
                        <% if (linescore.inning.length < 9) { %>
                            <% for (var inningIndex = linescore.inning.length + 1; inningIndex < 10; ++inningIndex) { %>
                            <th class="boxHeaderItem boxSubtitle borderLeft"><%= inningIndex %></th>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% for (var inningIndex = 1; inningIndex < 10; ++inningIndex) { %>
                            <th class="boxHeaderItem boxSubtitle borderLeft"><%= inningIndex %></th>
                        <% } %>
                    <% } %>
                            <th class="boxSpacerItem boxSubtitle borderLeft">&nbsp;</th><!-- spacer -->
                            <th class="boxHeaderItem boxSubtitle borderLeft">R</th>
                            <th class="boxHeaderItem boxSubtitle borderLeft">H</th>
                            <th class="boxHeaderItem boxSubtitle borderLeft">E</th>
                    <% if (status.ind[0] == "I") { %>
                            <th class="boxHeaderItem boxSubtitle borderLeft" style="white-space:nowrap;"><%= status.inning_state.substr(0,3) %> <%= status.inning %></th>
                    <% } %>
                        </tr>
                    </thead>
                    <tbody class="boxBody">
                        <tr>
                            <td class="boxBodyItem boxAway borderTop teamBox teamListBox <% if (!_.isUndefined(obj.linescore) && Number(linescore.r.away) > Number(linescore.r.home)) { %> gameWinner <% } %>">
                                <table>
                                    <tr>
                                    <% if (away_sport_code == "mlb") { %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= away_file_code %>" target="_blank"><span class="team <%= away_file_code %>" title="<%= away_team_city %> <%= away_team_name %>"></span></a>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <img src="http://www.milb.com/shared/images/logos/50x50/<%=away_file_code%>.png" title="<%= away_team_city %> <%= away_team_name %>" />
                                        </td>
                                    <% } %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= away_file_code %>" target="_blank" class="lowkeylink">
                                            <span class="teamName"><%= away_team_name %></span><br />
                                            <span class="teamRecord">(<%= away_win %>-<%= away_loss %>)</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                    <% if ((status.ind[0] == "I" || status.ind[0] == "F") && !_.isUndefined(obj.linescore) && _.isArray(obj.linescore.inning)) { %>
                        <% _.each(linescore.inning, function(inning, inningIndex) { %>
                            <td class="boxBodyItem boxAway borderLeft borderTop <% if (Number(inning.away) > 0) { %> boxRuns<% } %><% if (linescore.inning.length == inningIndex + 1 && status.top_inning == 'Y') { %> itemHighlight<% } %>"><%= inning.away %></td>
                        <% }) %>
                        <% if (linescore.inning.length < 9) { %>
                            <% for (var inningIndex = linescore.inning.length + 1; inningIndex < 10; ++inningIndex) { %>
                            <td class="boxBodyItem boxAway borderLeft borderTop">-</td>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% for (var inningIndex = 1; inningIndex < 10; ++inningIndex) { %>
                            <td class="boxBodyItem boxAway borderLeft borderTop">-</td>
                        <% } %>
                    <% } %>
                            <td class="boxSpacerItem boxSubtitle boxSummary borderLeft borderTop">&nbsp;</td><!-- spacer -->
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop runs"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.r.away%><% } %></td>
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop hits"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.h.away%><% } %></td>
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop errors"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.e.away%><% } %></td>
                        <% if (status.ind[0] == "I") { %>
                            <td class="infographic borderLeft borderTop itemHighlight" rowspan="2">
                                <div class="menOnBase">
                                    <dl>
                                        <dt class="first"><abbr title="First Base">1st:</abbr></dt>
                                        <dd class="first<% if (obj.hasRunnerOn(1)) { %> runner <% } %>"><%= obj.getRunnerOn(1) %></dd>
                                        <dt class="second"><abbr title="Second Base">2nd:</abbr></dt>
                                        <dd class="second <% if (obj.hasRunnerOn(2)) { %> runner <% } %>"><%= obj.getRunnerOn(2) %></dd>
                                        <dt class="third"><abbr title="Third Base">3rd:</abbr></dt>
                                        <dd class="third <% if (obj.hasRunnerOn(3)) { %> runner <% } %>"><%= obj.getRunnerOn(3) %></dd>
                                    </dl>
                                </div>
                                <div class="countAndOuts">
                                    <div class="count"><%= status.b %>-<%= status.s %></div>
                                    <div class="outs"><%= status.o %> outs</div>
                                </div>
                            </td>
                        <% } %>
                        </tr>
                        <tr>
                            <td class="boxBodyItem boxHome borderTop teamBox teamListBox <% if (!_.isUndefined(obj.linescore) && Number(linescore.r.home) > Number(linescore.r.away)) { %> gameWinner <% } %>">
                                <table>
                                    <tr>
                                    <% if (home_sport_code == "mlb") { %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= home_file_code %>" target="_blank"><span class="team <%= home_file_code %>" title="<%= home_team_city %> <%= home_team_name %>"></span></a>
                                        </td>
                                    <% } else { %>
                                        <td>
                                            <img src="http://www.milb.com/shared/images/logos/50x50/<%=home_file_code%>.png" title="<%= home_team_city %> <%= home_team_name %>" />
                                        </td>
                                    <% } %>
                                        <td>
                                            <a href="http://mlb.mlb.com/index.jsp?c_id=<%= home_file_code %>" target="_blank" class="lowkeylink">
                                            <span class="teamName"><%= home_team_name %></span><br />
                                            <span class="teamRecord">(<%= home_win %>-<%= home_loss %>)</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                    <% if ((status.ind[0] == "I" || status.ind[0] == "F") && !_.isUndefined(obj.linescore) && _.isArray(obj.linescore.inning)) { %>
                        <% _.each(linescore.inning, function(inning, inningIndex) { %>
                            <td class="boxBodyItem boxHome borderLeft borderTop <% if (Number(inning.home) > 0) { %> boxRuns<% } %><% if (linescore.inning.length == inningIndex + 1 && status.top_inning == 'N') { %> itemHighlight<% } %>"><%= (_.isUndefined(inning.home) ? "-" : inning.home) %></td>
                        <% }) %>
                        <% if (linescore.inning.length < 9) { %>
                            <% for (var inningIndex = linescore.inning.length + 1; inningIndex < 10; ++inningIndex) { %>
                            <td class="boxBodyItem boxAway borderLeft borderTop">-</td>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% for (var inningIndex = 1; inningIndex < 10; ++inningIndex) { %>
                            <td class="boxBodyItem boxAway borderLeft borderTop">-</td>
                        <% } %>
                    <% } %>
                            <td class="boxSpacerItem boxSubtitle boxSummary borderLeft borderTop">&nbsp;</td><!-- spacer -->
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop runs"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.r.home %><% } %></td>
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop hits"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.h.home %><% } %></td>
                            <td class="boxBodyItem boxSubtitle boxSummary borderLeft borderTop errors"><% if (!_.isUndefined(obj.linescore)) { %><%= linescore.e.home %><% } %></td>
                        </tr>
                        <tr>
                            <td class="boxBodyItem boxHome borderTop itemHighlight mlb-scores-alerts info" style="text-align:left;" <%= getStatusColspan() %>>
                                <div class="statusMessage">
                            <% if (status.ind[0] == "I") { %>
                                    <span title="Pitching">Pitching:</span>
                                    <span>
                                        <a href="http://mlb.mlb.com/team/player.jsp?player_id=<%= (status.top_inning == "Y" ? pitcher : opposing_pitcher).id %>" target="_blank"><abbr title="<%= (status.top_inning == "Y" ? pitcher : opposing_pitcher).first %> <%= (status.top_inning == "Y" ? pitcher : opposing_pitcher).last %>"><%= (status.top_inning == "Y" ? pitcher : opposing_pitcher).name_display_roster %></abbr></a>, ERA: <%= (status.top_inning == "Y" ? pitcher : opposing_pitcher).era %> (<%= (status.top_inning == "Y" ? home_name_abbrev : away_name_abbrev) %>)
                                    </span>
                                    <br />
                                    <span title="Batting">Batting:</span>
                                    <span>
                                        <a href="http://mlb.mlb.com/team/player.jsp?player_id=<%= batter.id %>" target="_blank"><abbr title="<%= batter.first %> <%= batter.last %>"><%= batter.name_display_roster %></abbr></a>, AVG: <%= batter.avg %> (<%= (status.top_inning == "Y" ? away_name_abbrev : home_name_abbrev) %>)
                                    </span>
                                <% if (!_.isUndefined(obj.pbp)) { %>
                                    <br />
                                    <span title="Last play: <%= pbp.last %>">Last: <%= pbp.last %></span>
                                <% } %>
                            <% } else if (status.ind[0] == "F") { %>
                                    <span title="Winning Pitcher">W:</span>
                                    <span>
                                        <a href="http://mlb.mlb.com/team/player.jsp?player_id=<%= winning_pitcher.id %>" target="_blank"><abbr title="<%= winning_pitcher.first %> <%= winning_pitcher.last %>"><%= winning_pitcher.last %></abbr></a> (<%= winning_pitcher.wins %>-<%= winning_pitcher.losses %>, <%= winning_pitcher.era %>)
                                    </span>
                                    <br />
                                    <span title="Losing Pitcher">L:</span>
                                    <span>
                                        <a href="http://mlb.mlb.com/team/player.jsp?player_id=<%= losing_pitcher.id %>" target="_blank"><abbr title="<%= losing_pitcher.first %> <%= losing_pitcher.last %>"><%= losing_pitcher.last %></abbr></a> (<%= losing_pitcher.wins %>-<%= losing_pitcher.losses %>, <%= losing_pitcher.era %>)
                                    </span>
                            <% } %>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </script>
    </head> 
 
    <body> 
        <div id="container" class="ui-corner-all">  
            <div id="lCenter" class="alignCenter">
                <div class="baseball-wait"></div>
            </div> 
        </div>

        <script type="text/javascript">
            //----------------------------------
            // jQuery ready event code
            //----------------------------------
            $(function () {
                App.start();
            });
            // End of jQuery ready event code
            //----------------------------------
        </script>
    </body> 
</html> 